<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.gittner.osmbugs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".OsmBugsApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.BugMapActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BugListActivity_"
            android:label="@string/title_activity_bug_list"/>
        <activity
            android:name=".activities.SettingsActivity_"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".activities.AddMapdustBugActivity_"
            android:label="@string/title_activity_add_mapdust_bug"/>
        <activity
            android:name=".activities.AddOsmNoteActivity_"
            android:label="@string/title_activity_add_openstreetmap_note"/>
        <activity
            android:name=".activities.KeeprightEditActivity_"
            android:label="@string/title_activity_keepright_edit"/>
        <activity
            android:name=".activities.OsmoseEditActivity_"
            android:label="@string/title_activity_osmose_edit"/>
        <activity
            android:name=".activities.MapdustEditActivity_"
            android:label="@string/title_activity_mapdust_edit"/>
        <activity
            android:name=".activities.OsmNoteEditActivity_"
            android:label="@string/title_activity_osm_note_edit"/>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Dialog"/>
    </application>

</manifest>
